/*****     MAIN     STYLE       *****/

body {
	font-family: "Bariol Regular";
}

a:focus, a:hover {
	text-decoration: none;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

ul {
	list-style: none;
}

/*****     FIN    MAIN     STYLE       *****/

/***** DEBUT PANEL   ****/

#panel .navbar {
	padding: 0.5rem 0rem;
	width: 100%;
}

#panel .navbar-inverse .navbar-toggler {
    border: transparent;
}

#panel .navbar-inverse .navbar-toggler span {
    color: #3e3a3b;
}

#panel .navbar-brand {
	margin-right: 0;
}

#logo {
	width: 84px;
}

#navigation {
	padding-left: 0;
}

#navigation ul {
	padding: 0;
}

#navigation ul li {
	display: inline-block;
}

#contactNumber {
	background-color: #ffd200;
	border-radius: 0.5rem;
	padding: 0.5rem 0.25rem;
}

#contactNumber a {
	border-bottom: 1px dotted #000;
    padding: 0.5rem 0 0;
	color: #212121;
    font-family: "PF Agora Sans Pro Light";
    font-size: 12px;
}

#navigation li a img {
	width: 30px;
}

@media screen and (min-width: 578px) {
	#panel .navbar {
		padding: 0.5rem 3rem;
		width: 100%;
	}
	
	#panel .navbar-brand {
		margin-right: 1rem;
	}

	#navigation {
		padding-left: 1em;
	}
	#navigation ul {
		float: right;
	}
	
	#contactNumber {
		padding: 0.5rem 2rem;
	}
	
	#contactNumber a {
		font-size: 16px;
	}
	
	#navigation li a img {
		max-width: 40px;
		width: 100%;
	}
}

@media screen and (min-width: 578px) and (max-width: 767px) {
	#logo {
		max-width: 100px;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	#logo {
		max-width: 170px;
		width: 100%;
	}
}


/****	FIN  PANEL   ****/

/***** DEBUT MAIN BANNER   ****/



/****	FIN  MAIN BANNER   ****/

/***** DEBUT STEP   ****/



/****	FIN  STEP   ****/

/***** DEBUT ADVANTAGE   ****/



/****	FIN  ADVANTAGE   ****/

/***** DEBUT READY SOLUTIONS   ****/



/****	FIN  READY SOLUTIONS   ****/

/***** DEBUT TESTIMONIALS   ****/



/****	FIN  TESTIMONIALS   ****/

/***** DEBUT TERMS PAYMENT SHIPPING   ****/



/****	FIN  TERMS PAYMENT SHIPPING   ****/

/***** DEBUT FOOTER   ****/



/****	FIN  FOOTER   ****/
