/*****     MAIN     STYLE       *****/

body {
	font-family: "Bariol Regular";
}

a:focus, a:hover {
	text-decoration: none;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.row {
	margin-right: 0px;
    margin-left: 0px;
}

ul {
	list-style: none;
}

/*****     FIN    MAIN     STYLE       *****/

/***** DEBUT PANEL   ****/

#panel .navbar {
	padding: 0.5rem 0rem;
	width: 100%;
}

#panel .navbar-inverse .navbar-toggler {
    border: transparent;
}

#panel .navbar-inverse .navbar-toggler span {
    color: #3e3a3b;
}

#panel .navbar-brand {
	margin-right: 0;
}

#logoContainer {
	padding-left: 0px;
}

#logo {
	width: 84px;
}

#navigation {
	padding-left: 0;
	padding-right: 0;
}

#navigation ul {
	padding: 0;
}

#navigation ul li {
	display: inline-block;
}

#contactNumber {
	background-color: #ffd200;
	border-radius: 0.5rem;
	padding: 0.5rem 0.25rem;
}

#contactNumber a {
	border-bottom: 1px dotted #000;
    padding: 0.5rem 0 0;
	color: #212121;
    font-family: "PF Agora Sans Pro Light";
    font-size: 12px;
}

#navigation li a img {
	width: 30px;
}

@media screen and (min-width: 578px) {
	#panel .navbar {
		padding: 0.5rem 3rem;
		width: 100%;
	}
	
	#panel .navbar-brand {
		margin-right: 1rem;
	}
	
	#logoContainer {
		padding-left: 1em;
	}

	#navigation {
		padding-left: 1em;
		padding-right: 1em;
	}
	#navigation ul {
		float: right;
	}
	
	#contactNumber {
		padding: 0.5rem 2rem;
	}
	
	#contactNumber a {
		font-size: 16px;
	}
	
	#navigation li a img {
		max-width: 40px;
		width: 100%;
	}
}

@media screen and (min-width: 578px) and (max-width: 767px) {
	#logo {
		max-width: 100px;
		width: 100%;
	}
}

@media screen and (min-width: 768px) {
	#logo {
		max-width: 170px;
		width: 100%;
	}
}


/****	FIN  PANEL   ****/

/***** DEBUT MAIN BANNER   ****/

#mainBanner {
	background: url(images/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
}

#headerText {
    min-height: 320px;
    padding: 20px 0 0;
	color: #000000;
}

#slidetext1 {
	font-family: "PFAgora Sans Pro XThin";
	font-size: 36px;
}

#slidetext2 {
	font-size: 16px;
	font-family: "PF Agora Sans Pro Light";
	margin-bottom: 2.8em;
	font-weight: 600;
}

#makeButton {
	font-family: "PFAgora Sans Pro Thin";
	font-size: 18px;
	padding: 0.7rem 1.5rem;
    border: 1px solid #010101;
	color: #212121;
	text-transform: uppercase;
}

@media screen and (min-width: 578px) and (max-width: 767px) {
	#headerText {
		min-height: 350px;
		padding: 60px 0 0;
	}
	
	#slidetext1 {
		font-size: 36px;
	}
	
	#slidetext2 {
		font-size: 16px;
	}
}

@media screen and (min-width: 768px) {
	#headerText {
		min-height: 370px;
		padding: 50px 0 290px;
	}
	
	#slidetext1 {
		font-size: 60px;
	}
	
	#slidetext2 {
		font-size: 24px;
	}
	
	#makeButton {
		padding: 1rem 3.5rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	#headerText {
		min-height: 370px;
		padding: 50px 0 200px;
	}
	
	#slidetext1 {
		font-size: 50px;
	}
}


/****	FIN  MAIN BANNER   ****/

/***** DEBUT STEP   ****/

#step {
	padding: 2rem 0px;
}

.steps{
	text-align:center;
	position:relative;
	width: 50%;
}

.steps:nth-child(1),
.steps:nth-child(2){
	margin-bottom:15px;
}

span.s-one, span.s-two, span.s-tre {
	display: none;
}

.steps img {
    border: 3px solid #ffd200;
    border-radius: 4.1rem;
    padding: 0;
	width: 75%;
}

.steps p {
  	color: #000000;
	font-size: 13px;
  	font-weight: 500;
	margin: 10px auto 0;
	width: 87%;
  	line-height: 1.3em;
	font-family: "PF Agora Sans Pro Light";
}
.steps span {
  	position: absolute;
  	background: url(images/tiret1.png) no-repeat;
	width: 58px;
	height: 3px;
	top: 27%;
  	right: 78%;
	background-size: 100%;
}

@media screen and (min-width: 320px) {
	.steps:nth-child(1),
	.steps:nth-child(2){
		margin-bottom: 0px;
	}
}

@media screen and (min-width: 321px) and (max-width: 577px) {
	.steps p {
		font-size: 14px;
		margin: 8px auto 0;
		width: 100%;
	}
}

@media screen and (min-width: 578px) {
	.steps span {
		display: block;
	}
}

@media screen and (min-width: 578px) and (max-width: 767px) {
	.steps img {
		padding: 0.5rem;
		width: 55%;
	}
	
	.steps p {
		font-size: 1.05em;
		margin: 11px auto 0;
		width: 82%;
	}
	
	.steps span {
		width: 83px;
		top: 22.5%;
		right: 68%;
		height: 4px;
	}
}

@media screen and (min-width: 768px) {
	#step {
		padding: 3em 0px;
	}
	
	.steps img {
		padding: 1.5em;
		width: auto;
	}
	
	.steps span {
		height: 5px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {	
	.steps img {
		padding: 0.8rem;
	}
	.steps span {
		width: 70px;
		top: 30.5%;
		right: 80%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {	
	.steps p {
		font-size: 1.25em;
		margin: 15px auto 0;
		width: 67%;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {	
	.steps img {
		padding: 0.5rem;
	}
	.steps span {
		width: 140px;
		right: 70.1%;
		top: 31.5%;
	}
}

@media screen and (min-width: 1200px) {	
	.steps p {
		font-size: 1.4em;
		margin: 20px auto 0;
		width: 53%;
	}
	.steps span {
		width: 183px;
		right: 60.1%;
		background-size: initial;
	}
}

/****	FIN  STEP   ****/

/***** DEBUT ADVANTAGE   ****/

#advantage {
	background-color: #f3f0e7;
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: #000;
}

#advantageTitle h3, #testimonials h3 {
	font-family: "PFAgora Sans Pro XThin";
	font-size: 43px;
	margin-bottom: 3rem;
}

#advantageItems img {
	max-width: 270px;
	width: 100%;
}

.advantageItemsTitle {
	font-family: "PF Agora Sans Pro Light";
	font-size: 18px;
    line-height: 1.8rem;
    font-weight: bold;
}

.advantageItemsDescription {
	font-family: "PF Agora Sans Pro Light";
	font-size: 16px;
	line-height: 1.3rem;
}

#advantageMakeButton {
	font-family: "PFAgora Sans Pro Thin";
	font-size: 18px;
	padding: 0.7rem 1.5rem;
	background-color: #e11a27;
	color: #fff;
	text-transform: uppercase;
}

@media screen and (min-width: 578px) {
	#advantageTitle h3, #testimonials h3 {
		font-size: 60px;
	}
	
	#advantageMakeButton {
		font-size: 26px;
		padding: 1rem 3.5rem;
	}
}

@media screen and (min-width: 578px) and (max-width: 991px) {
	.advantageItemsTitle {
		font-size: 16px;
		line-height: 1.5rem;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {	
	.advantageItemsTitle {
		font-size: 22px;
		line-height: 1.5rem;
	}
}

@media screen and (min-width: 1200px) {	
	.advantageItemsTitle {
		font-size: 29px;
		font-weight: normal;
	}
}

/****	FIN  ADVANTAGE   ****/

/***** DEBUT READY SOLUTIONS   ****/



/****	FIN  READY SOLUTIONS   ****/

/***** DEBUT TESTIMONIALS   ****/

#testimonials {
	background: url(images/banner2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 100%;
	padding-top: 3rem;
	padding-bottom: 3rem;
}

#testimony img {
	max-width: 170px;
	width: 100%;
}

#doe {
	padding: 0.5rem;
}

#testimonyName {
	font-family: "PF Agora Sans Pro Light";
	font-size: 18px;
}

#testimonyFonction {
	font-family: "PF Agora Sans Pro Light";
	font-size: 16px;
}

.testimonyText1 {
	font-family: "PF Agora Sans Pro Light";
	font-size: 18px;
}

#nextTestimonial {
	padding-top: 1rem;
    padding-bottom: 3rem;
}

#nextTestimonial p {
	float: right;
} 

#nextTestimonial a {
	font-family: "PFAgora Sans Pro Thin";
	font-size: 16px;
	color: #000;
}

@media screen and (min-width: 480px) and (max-width: 577px) {
	#doe {
		padding: 2rem 0rem;
	}
}

@media screen and (min-width: 578px) and (max-width: 767px) {	
	#doe {
		padding: 3rem 0rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {	
	#doe {
		padding: 1rem 0.5rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {	
	#testimonyName {
		font-family: "PF Agora Sans Pro Light";
		font-size: 30px;
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {	
	#doe {
		padding: 2rem 0.5rem;
	}
}

@media screen and (min-width: 1200px) {	
	#testimony img {
		max-width: 170px;
		width: auto;
	}
	
	#testimonyName {
		font-family: "PF Agora Sans Pro Light";
		font-size: 30px;
	} 
	
	#doe {
		padding: 3.5rem 2.5rem;
	}
}

/****	FIN  TESTIMONIALS   ****/

/***** DEBUT TERMS PAYMENT SHIPPING   ****/



/****	FIN  TERMS PAYMENT SHIPPING   ****/

/***** DEBUT FOOTER   ****/



/****	FIN  FOOTER   ****/
